<form
  [formGroup]="form"
  class="px-3 pt-6 flex flex-col place-content-between h-fit"
>
  <ng-container [ngSwitch]="currentStepIndex">
    <app-planning
      formGroupName="planning"
      #stepComponent
      *ngSwitchCase="0"
      (autoSaveRequest)="handleTimeboxSaveRequest($event)"
    ></app-planning>
    <app-kickoff
      formGroupName="kickOff"
      #stepComponent
      *ngSwitchCase="1"
      (autoSaveRequest)="handleTimeboxSaveRequest($event)"
    ></app-kickoff>
    <app-refinement
      [timeboxData]="timeboxData"
      formGroupName="refinement"
      #stepComponent
      *ngSwitchCase="2"
    ></app-refinement>
    <app-qa formGroupName="qa" #stepComponent *ngSwitchCase="3"></app-qa>
    <app-close
      formGroupName="close"
      #stepComponent
      *ngSwitchCase="4"
    ></app-close>
  </ng-container>

  <!--Botones-->
  <div class="buttons inline-flex items-end place-content-end space-x-4">
    <button
      (click)="handleCompletarPaso()"
      type="button"
      class="px-4 py-3 text-[12px] font-medium text-white bg-[var(--primary)] rounded-sm hover:bg-[var(--primaryDark)] focus:outline-none cursor-pointer duration-300"
      *ngIf="currentStepIndex < steps.length"
    >
      <ng-container [ngSwitch]="buttonText()">
        <ng-container *ngSwitchCase="'Guardar Timebox'"
          >Guardar Timebox</ng-container
        >
        <ng-container *ngSwitchCase="'Guardar y Publicar'"
          >Guardar y Publicar</ng-container
        >
        <ng-container *ngSwitchCase="'Guardar Cambios'"
          >Guardar Cambios</ng-container
        >
        <ng-container *ngSwitchCase="'Completar Timebox'"
          >Completar Timebox</ng-container
        >
        <ng-container *ngSwitchCase="'Completar Fase'"
          >Completar Fase</ng-container
        >
      </ng-container>
    </button>
  </div>
</form>

<!--Modal-->

<div
  *ngIf="showConfirmModal"
  class="fixed inset-0 flex items-center justify-center z-50"
>
  <div
    class="absolute inset-0 bg-black opacity-30 backdrop-blur-lg"
    (click)="cancelConfirmation()"
  ></div>

  <div class="card" *ngIf="showConfirmModal">
    <p class="titleHeading">
      <ng-container [ngSwitch]="phaseToConfirmName">
        <ng-container *ngSwitchCase="'planning-create'"
          >Guardar timebox</ng-container
        >
        <ng-container *ngSwitchCase="'kickoff-publish-only'"
          >Confirmar Publicación</ng-container
        >
        <ng-container *ngSwitchCase="'kickoff-publish-and-complete'"
          >Confirmar Completar Etapa</ng-container
        >
        <ng-container *ngSwitchCase="'close'"
          >Confirmar Completar Timebox</ng-container
        >
        <ng-container *ngSwitchDefault>Confirmar Completar Etapa</ng-container>
      </ng-container>
    </p>
    <p class="modalDescription">
      <ng-container [ngSwitch]="phaseToConfirmName">
        <ng-container *ngSwitchCase="'planning-create'"
          >Confirma para crear un nuevo timebox</ng-container
        >
        <ng-container *ngSwitchCase="'kickoff-publish-only'"
          >Algunos roles del equipo no han sido asignados.
          <span class="font-semibold"
            >¿Estás seguro de que deseas publicar este Timebox como
            disponible?</span
          ></ng-container
        >
        <ng-container *ngSwitchDefault
          >¿Estás seguro de que deseas marcar la etapa "<span
            class="font-semibold capitalize"
            >{{ phaseToConfirmName }}</span
          >" como completada? Una vez completada, los cambios serán
          guardados.</ng-container
        >
        <ng-container *ngSwitchCase="'close'"
          ><span class="font-semibold"
            >¿Estás seguro que deseas completar el Timebox? Una vez confirmado,
            se realizarán
            <b>las ordenes de cobro para el equipo colaborador.</b>
          </span></ng-container
        >
      </ng-container>
    </p>

    <div class="buttonContainer">
      <button
        class="px-4 py-2 text-sm font-medium text-white bg-[var(--primary)] rounded-sm hover:bg-[var(--primaryDark)] focus:outline-none cursor-pointer"
        (click)="confirmCompletion()"
      >
        <ng-container [ngSwitch]="phaseToConfirmName">
          <ng-container *ngSwitchCase="'planning-create'">Guardar</ng-container>
          <ng-container *ngSwitchCase="'kickoff-publish-only'"
            >Publicar</ng-container
          >
          <ng-container *ngSwitchDefault>Completar</ng-container>
        </ng-container>
      </button>
      <button
        class="px-4 py-2 text-sm font-medium text-gray-700 bg-gray-200 rounded-sm hover:bg-gray-300 focus:outline-none cursor-pointer"
        (click)="cancelConfirmation()"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>

<style>
  /* From Uiverse.io by 00Kubi */
  .card {
    width: 350px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 13px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
  }

  .titleHeading {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(26, 26, 26);
  }

  .modalDescription {
    text-align: center;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(99, 99, 99);
  }

  .modalDescription a {
    --tw-text-opacity: 1;
    color: rgb(59 130 246);
  }

  .modalDescription a:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
  }

  .buttonContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
</style>
