<div class="h-screen flex">
  <aside
    class="fixed top-0 left-0 h-full p-4 flex flex-col shadow-xl z-20 transition-all duration-300 ease-in-out transform"
    [ngClass]="{
      'w-[230px]': !isSidebarCollapsed,
      'w-[80px]': isSidebarCollapsed,
      'bg-[var(--darkText)]': true,
      'border-r border-[var(--backgroundActive)]': true
    }"
  >
    <div
      class="h-[70px] flex items-center justify-center font-bold text-xl text-[var(--lightText)] border-b border-[var(--backgroundActive)] pb-4 mb-6 overflow-hidden whitespace-nowrap"
    >
      <span
        *ngIf="!isSidebarCollapsed"
        class="opacity-100 transition-opacity duration-200"
        >TimeboxTrack</span
      >
      <span
        *ngIf="isSidebarCollapsed"
        class="opacity-100 transition-opacity duration-200"
        >TBT</span
      >
    </div>

    <nav class="flex-grow flex flex-col gap-4 overflow-y-auto">
      <h1
        class="text-xs uppercase font-semibold text-[var(--text-light)] tracking-wider px-2 pt-2 transition-opacity duration-200"
        [ngClass]="{
          'opacity-100': !isSidebarCollapsed,
          'opacity-0 hidden': isSidebarCollapsed
        }"
      >
        Menú
      </h1>

      <div class="flex flex-col gap-1 text-[var(--lightText)]">
        <h2
          class="text-xs uppercase font-medium text-[var(--text-light)] px-2 pb-1 transition-opacity duration-200"
          [ngClass]="{
            'opacity-100': !isSidebarCollapsed,
            'opacity-0 hidden': isSidebarCollapsed
          }"
        >
          Timebox
        </h2>
        <a
          class="flex items-center p-2 rounded-md transition-all duration-200 ease-in-out hover:bg-[var(--primary)] hover:text-[var(--lightText)] focus:outline-none"
          [routerLink]="'/'"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          [ngClass]="{
            'justify-center': isSidebarCollapsed,
            'justify-start gap-3': !isSidebarCollapsed
          }"
        >
          <svg
            class="h-5 w-5 flex-shrink-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          <span
            class="text-sm font-medium whitespace-nowrap overflow-hidden transition-opacity duration-200"
            [ngClass]="{
              'opacity-100 max-w-full': !isSidebarCollapsed,
              'opacity-0 max-w-0': isSidebarCollapsed
            }"
          >
            Timebox Planning
          </span>
        </a>
        <a
          class="flex items-center p-2 rounded-md transition-all duration-200 ease-in-out hover:bg-[var(--primary)] hover:text-[var(--lightText)] focus:outline-none"
          [routerLink]="'/timebox-maintainer'"
          routerLinkActive="active-link"
          [ngClass]="{
            'justify-center': isSidebarCollapsed,
            'justify-start gap-3': !isSidebarCollapsed
          }"
        >
          <svg
            class="h-5 w-5 flex-shrink-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
            ></path>
          </svg>
          <span
            class="text-sm font-medium whitespace-nowrap overflow-hidden transition-opacity duration-200"
            [ngClass]="{
              'opacity-100 max-w-full': !isSidebarCollapsed,
              'opacity-0 max-w-0': isSidebarCollapsed
            }"
          >
            Timebox Maintainer
          </span>
        </a>
        <a
          class="flex items-center p-2 rounded-md transition-all duration-200 ease-in-out hover:bg-[var(--primary)] hover:text-[var(--lightText)] focus:outline-none"
          [routerLink]="'/timebox-requests'"
          routerLinkActive="active-link"
          [ngClass]="{
            'justify-center': isSidebarCollapsed,
            'justify-start gap-3': !isSidebarCollapsed
          }"
        >
          <svg
            class="h-5 w-5 flex-shrink-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4"
            ></path>
          </svg>
          <span
            class="text-sm font-medium whitespace-nowrap overflow-hidden transition-opacity duration-200"
            [ngClass]="{
              'opacity-100 max-w-full': !isSidebarCollapsed,
              'opacity-0 max-w-0': isSidebarCollapsed
            }"
          >
            Timebox Requests
          </span>
        </a>
      </div>

      <div class="w-full h-px bg-[var(--backgroundActive)] my-2"></div>

      <div class="flex flex-col gap-1">
        <h2
          class="text-xs uppercase font-medium text-[var(--text-light)] px-2 pb-1 transition-opacity duration-200"
          [ngClass]="{
            'opacity-100': !isSidebarCollapsed,
            'opacity-0 hidden': isSidebarCollapsed
          }"
        >
          Inbox
        </h2>
        <a
          class="flex items-center p-2 rounded-md text-[var(--lightText)] transition-all duration-200 ease-in-out hover:bg-[var(--primary)] hover:text-[var(--lightText)] focus:outline-none"
          [routerLink]="'task-inbox'"
          routerLinkActive="active-link"
          [ngClass]="{
            'justify-center': isSidebarCollapsed,
            'justify-start gap-3': !isSidebarCollapsed
          }"
        >
          <svg
            class="h-5 w-5 flex-shrink-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"
            ></path>
          </svg>
          <span
            class="text-sm font-medium whitespace-nowrap overflow-hidden transition-opacity duration-200"
            [ngClass]="{
              'opacity-100 max-w-full': !isSidebarCollapsed,
              'opacity-0 max-w-0': isSidebarCollapsed
            }"
          >
            Task Inbox
          </span>
        </a>
      </div>
    </nav>

    <div class="mt-auto pt-6 border-t border-[var(--backgroundActive)]">
      <button
        (click)="toggleSidebar()"
        class="w-full flex items-center justify-center p-2 rounded-md text-[var(--lightText)] bg-[var(--accent)] transition-all duration-200 ease-in-out focus:outline-none cursor-pointer"
        aria-label="Toggle sidebar"
      >
        <svg
          *ngIf="!isSidebarCollapsed"
          class="h-5 w-5 text-[var(--lightText)]"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 19l-7-7 7-7m8 14l-7-7 7-7"
          ></path>
        </svg>
        <svg
          *ngIf="isSidebarCollapsed"
          class="h-5 w-5 text-[var(--lightText)]"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 5l7 7-7 7M6 5l7 7-7 7"
          ></path>
        </svg>
      </button>
    </div>
  </aside>

  <div
    class="flex-grow w-full h-screen overflow-y-auto transition-all duration-300 ease-in-out"
    [ngClass]="{
      'ml-[230px]': !isSidebarCollapsed,
      'ml-[80px]': isSidebarCollapsed
    }"
    id="main-content-scroll-container"
  >
    <ng-content></ng-content>
  </div>
</div>
