/* En tu archivo styles.css o app.component.css */
/* Aplica color blanco permanente al ícono y texto del link activo */
.active-link svg,
.active-link span {
  color: white !important;
  stroke: white !important;
  font-weight: 600;
}

/* Mantén el color blanco del texto */
.active-link {
  background-color: var(--color-gray-800) !important;
  color: white !important;
  font-weight: 600 !important;
}
