<div class="p-10 flex flex-col gap-10 w-full">
  <!-- 🔍 Encabezado + búsqueda + botón -->
  <div
    class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4"
  >
    <div class="flex flex-col select-none">
      <h1 class="text-md font-extrabold text-[var(--text-dark)]">
        Mapa de Proyectos
      </h1>
      <p class="text-sm text-[var(--text-medium)] mt-1">
        Visualiza los proyectos activos y sus indicadores clave.
      </p>
    </div>

    <div class="flex gap-3 w-full sm:w-auto items-center">
      <input
        [(ngModel)]="busqueda"
        type="text"
        placeholder="Buscar por nombre proyecto"
        class="w-full sm:w-80 px-5 py-3 text-xs border border-[var(--lines)] rounded-sm focus:outline-none focus:ring-2 focus:ring-[var(--primary)] bg-[var(--backgroundLight)] text-[var(--text-dark)] placeholder:text-slate-500"
      />

      <button
        class="max-w-40 cursor-pointer text-[12px] space-x-1 inline-flex items-center justify-between px-5 py-3 bg-[var(--primary)] text-[var(--lightText)] rounded-sm disabled:opacity-50 disabled:cursor-not-allowed hover:bg-[var(--primaryDark)] transition-colors duration-200"
      >
        <svg
          class="mr-2"
          width="20"
          height="20"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <line x1="12" y1="5" x2="12" y2="19" />
          <line x1="5" y1="12" x2="19" y2="12" />
        </svg>
        Crear proyecto
      </button>
    </div>
  </div>

  <!-- 📁 Tarjetas de proyectos -->
  <div
    *ngIf="proyectosFiltrados.length > 0; else noProjects"
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6"
  >
    <div
      *ngFor="let project of proyectosFiltrados"
      class="p-6 rounded-sm shadow-sm hover:shadow-lg transition bg-[var(--backgroundLight)]"
    >
      <div
        class="cursor-pointer space-y-3"
        (click)="verDetalleProyecto(project.nombre)"
      >
        <h2 class="text-lg font-bold text-[var(--primary)]">
          {{ project.nombre }}
        </h2>
        <p class="text-sm text-[var(--text-medium)]">
          {{ project.descripcion }}
        </p>

        <div class="text-xs text-[var(--text-light)]">
          📆 Creado el: {{ project.fechaCreacion | date : "mediumDate" }}
        </div>

        <div class="flex flex-wrap gap-3 mt-2 text-[10px]">
          <span
            class="bg-indigo-50 text-[var(--darkText)] px-3 py-2 rounded-full"
          >
            📱 Apps: {{ contarApps(project) }}
          </span>
          <span
            class="bg-indigo-50 text-[var(--darkText)] px-3 py-2 rounded-full"
          >
            📊 Progreso: {{ getProgreso(project) }}%
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- 📭 Sin proyectos -->
  <ng-template #noProjects>
    <p class="text-center text-[var(--text-medium)]">
      No hay proyectos creados aún.
    </p>
  </ng-template>
</div>
